.c-btn {
  font-size: x-large;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.3rem 1rem 0;
}
.c-btn:focus {
  outline: 0;
}