.c-btn {
    font-size: x-large;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 2.4rem;
    border-radius: 50%;
    transition: 0.2s;
}
.c-btn:hover {
    border-radius: 10px;
    outline: 0;
}
