/* Btn colors */
#titlebar {
  color: #bebebe;
  background: #262626;
  border-bottom: none;
}

#restore-button .icon,
#max-button .icon,
#min-button .icon {
  -webkit-filter: none;
          filter: none;
}

#windowControls .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#windowControls .button:active {
  background: rgba(255, 255, 255, 0.2);
}

main {
  background-color: #262626;
}

.grid-container {
  color: #bebebe;
  -webkit-box-shadow: inset 1px 1px 5px -1px black;
          box-shadow: inset 1px 1px 5px -1px black;
  background-color: #222222;
}

.grid-titlebar {
  background-color: white;
}

.left-side-button {
  color: #bebebe;
}

.canvasContainer {
  background-color: #2d2d2d;
  -webkit-box-shadow: 0px 0px 5px -1px black;
          box-shadow: 0px 0px 5px -1px black;
}

.form-control {
  color: #bebebe;
  background-color: #2d2d2d;
  border-color: #222222;
}

.form-control:focus {
  color: #bebebe;
  background-color: #2d2d2d;
  border-color: #222222;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(107, 167, 255, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(107, 167, 255, 0.25);
}

.form-select {
  -webkit-box-shadow: 0px 2px 5px -1px black;
          box-shadow: 0px 2px 5px -1px black;
  cursor: pointer;
  color: #bebebe;
  background-color: #2d2d2d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cccc' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  border: none;
}

.form-select:focus {
  color: #bebebe;
  background-color: #2d2d2d;
  border: none;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(107, 167, 255, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(107, 167, 255, 0.25);
}

.modal-content {
  color: #bebebe;
  background-color: #2d2d2d;
}

.modal-input {
  background-color: #222222;
}

.modal-header {
  border-bottom: 1px solid #bebebe;
  color: #bebebe;
}

.modal-footer {
  border-top: 1px solid #bebebe;
  color: #bebebe;
}

.btn-close {
  color: #fff;
  text-shadow: 0 1px 0 #000;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.btn-close:hover {
  color: #fff;
  text-decoration: none;
}

.table {
  color: #bebebe;
}

.list-group-item {
  background-color: transparent;
  border: 1px solid rgba(221, 220, 220, 0.41);
  color: #bebebe;
}

.alert-primary {
  background-color: #567cb9 !important;
  border-color: #567cb9 !important;
}

.alert-danger {
  background-color: #ba323f !important;
  border-color: #ba323f !important;
}

.alert-success {
  background-color: #198754 !important;
  border-color: #198754 !important;
}

.grid-alert {
  color: #fff !important;
}

#historyAlert li {
  color: #ffffff !important;
}

#historyAlert li:hover {
  color: #d9e3ff !important;
}

.c-btn {
  background-color: #3f3f3f;
  color: #99bdff;
}

.c-btn:hover {
  color: #262626;
  background-color: #99bdff;
}

/* Custom bootstrap buttons*/
.btn-primary {
  color: #ffffffe8;
  background-color: #567cb9;
  border-color: #567cb9;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #3b76cc;
  border-color: #3b76cc;
}

.btn-danger {
  color: #ffffffe8;
  background-color: #ba323f;
  border-color: #ba323f;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: #a7202c;
  border-color: #a7202c;
}

.main-grid-container .alert,
.main-grid-container .c-btn,
.main-grid-container .btn,
.main-grid-container .form-control,
.main-grid-container .form-select {
  -webkit-box-shadow: 0px 2px 5px -1px black;
          box-shadow: 0px 2px 5px -1px black;
}
/*# sourceMappingURL=darkTheme.css.map */