$font-color: #8b92a9;
$background:#1a2035;
$form-background: #202940;
$boxShadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
/* Btn colors */
$primary-dark: #006adb;
$primary-dark-hover: #0052aa;
$success-dark:#147e2c;
$danger-dark:#ba323f;

#titlebar {
  color: $font-color;
  background: #29375b;
  border-bottom: none;
}

#restore-button .icon,
#max-button .icon,
#close-button .icon,
#min-button .icon {
  filter: none;
}

#windowControls .button:hover {
  background: rgba(255, 255, 255, 0.1);
}
#windowControls .button:active {
  background: rgba(255, 255, 255, 0.2);
}
main {
  background-color: $background;
}
.grid-titlebar{
  background-color: white;
}
.grid-left-side {
  box-shadow: $boxShadow;
  background-color: $form-background;
}

.left-side-button:hover {
  background-color: $background;
}
.canvasContainer {
  background-color: $form-background;
  box-shadow: $boxShadow;
}
.form-control {
  color: $font-color;
  background-color: $form-background;
  border-color: #0d1b29;
}
.form-control:focus {
  color: $font-color;
  background-color: $form-background;
  border-color: #0d1b29;
}
.modal-content{
  background-color: $form-background;
}
.modal-header{
    border-bottom: 1px solid $font-color;
    color: $font-color;
}
.modal-footer{
  border-top: 1px solid $font-color;
  color: $font-color;
}
.table{
  color:$font-color;
}
.list-group-item{
  background-color:transparent;
  border: 1px solid rgba(0, 0, 0, 0.41);
  color:$font-color
}

/* Custom bootstrap buttons*/

/*------------------------------------- Outline primary --------------------------*/
.c-btn-outline-primary{
  color: $primary-dark;
  border-color: $primary-dark;
}
.c-btn-outline-primary:hover {
  color: #fff;
  background-color: $primary-dark-hover;
  border-color: $primary-dark-hover;
}

.c-btn-outline-primary:focus, .c-btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.c-btn-outline-primary.disabled, .c-btn-outline-primary:disabled {
  color: $primary-dark;
  background-color: transparent;
}

.c-btn-outline-primary:not(:disabled):not(.disabled):active, .c-btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .c-btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary-dark-hover;
  border-color: $primary-dark-hover;
}

.c-btn-outline-primary:not(:disabled):not(.disabled):active:focus, .c-btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .c-btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/*------------------------------------ Outline success ----------------------------------*/

.c-btn-outline-success {
  color: $success-dark;
  border-color: $success-dark;
}

.c-btn-outline-success:hover {
  color: #fff;
  background-color: $success-dark;
  border-color: $success-dark;
}

.c-btn-outline-success:focus, .c-btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.c-btn-outline-success.disabled, .c-btn-outline-success:disabled {
  color: $success-dark;
  background-color: transparent;
}

.c-btn-outline-success:not(:disabled):not(.disabled):active, .c-btn-outline-success:not(:disabled):not(.disabled).active,
.show > .c-btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: $success-dark;
  border-color: $success-dark;
}

.c-btn-outline-success:not(:disabled):not(.disabled):active:focus, .c-btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .c-btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

/* ------------------------------------- Outline danger -----------------------------------*/

.c-btn-outline-danger {
  color: $danger-dark;
  border-color: $danger-dark;
}

.c-btn-outline-danger:hover {
  color: #fff;
  background-color: $danger-dark;
  border-color: $danger-dark;
}

.c-btn-outline-danger:focus, .c-btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.c-btn-outline-danger.disabled, .c-btn-outline-danger:disabled {
  color: $danger-dark;
  background-color: transparent;
}

.c-btn-outline-danger:not(:disabled):not(.disabled):active, .c-btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .c-btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: $danger-dark;
  border-color: $danger-dark;
}

.c-btn-outline-danger:not(:disabled):not(.disabled):active:focus, .c-btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .c-btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}


