/* Btn colors */
#titlebar {
  color: #8b92a9;
  background: #29375b;
  border-bottom: none;
}

#restore-button .icon,
#max-button .icon,
#close-button .icon,
#min-button .icon {
  -webkit-filter: none;
          filter: none;
}

#windowControls .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#windowControls .button:active {
  background: rgba(255, 255, 255, 0.2);
}

main {
  background-color: #1a2035;
}

.grid-container {
  color: #8b92a9;
}

.grid-titlebar {
  background-color: white;
}

.grid-left-side {
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
  background-color: #202940;
}

.left-side-button {
  color: #8b92a9;
}

.left-side-button:hover {
  background-color: #1a2035;
}

.canvasContainer {
  background-color: #202940;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
}

.form-control {
  color: #8b92a9;
  background-color: #202940;
  border-color: #0d1b29;
}

.form-control:focus {
  color: #8b92a9;
  background-color: #202940;
  border-color: #0d1b29;
}

.modal-content {
  color: #8b92a9;
  background-color: #202940;
}

.modal-input {
  background-color: #161d31;
}

.modal-header {
  border-bottom: 1px solid #8b92a9;
  color: #8b92a9;
}

.modal-footer {
  border-top: 1px solid #8b92a9;
  color: #8b92a9;
}

.close {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.close:hover {
  color: #fff;
  text-decoration: none;
}

.table {
  color: #8b92a9;
}

.list-group-item {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.41);
  color: #8b92a9;
}

.grid-alert {
  color: #00142b !important;
  background-color: #84add7 !important;
  border-color: #5f90c5 !important;
}

/* Custom bootstrap buttons*/
/*------------------------------------- Outline primary --------------------------*/
.c-btn-outline-primary {
  color: #006adb;
  border-color: #006adb;
}

.c-btn-outline-primary:hover {
  color: #fff;
  background-color: #0052aa;
  border-color: #0052aa;
}

.c-btn-outline-primary:focus,
.c-btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.c-btn-outline-primary.disabled,
.c-btn-outline-primary:disabled {
  color: #006adb;
  background-color: transparent;
}

.c-btn-outline-primary:not(:disabled):not(.disabled):active,
.c-btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .c-btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #0052aa;
  border-color: #0052aa;
}

.c-btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.c-btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .c-btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/*------------------------------------ Outline success ----------------------------------*/
.c-btn-outline-success {
  color: #147e2c;
  border-color: #147e2c;
}

.c-btn-outline-success:hover {
  color: #fff;
  background-color: #147e2c;
  border-color: #147e2c;
}

.c-btn-outline-success:focus,
.c-btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.c-btn-outline-success.disabled,
.c-btn-outline-success:disabled {
  color: #147e2c;
  background-color: transparent;
}

.c-btn-outline-success:not(:disabled):not(.disabled):active,
.c-btn-outline-success:not(:disabled):not(.disabled).active,
.show > .c-btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #147e2c;
  border-color: #147e2c;
}

.c-btn-outline-success:not(:disabled):not(.disabled):active:focus,
.c-btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .c-btn-outline-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

/* ------------------------------------- Outline danger -----------------------------------*/
.c-btn-outline-danger {
  color: #ba323f;
  border-color: #ba323f;
}

.c-btn-outline-danger:hover {
  color: #fff;
  background-color: #ba323f;
  border-color: #ba323f;
}

.c-btn-outline-danger:focus,
.c-btn-outline-danger.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.c-btn-outline-danger.disabled,
.c-btn-outline-danger:disabled {
  color: #ba323f;
  background-color: transparent;
}

.c-btn-outline-danger:not(:disabled):not(.disabled):active,
.c-btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .c-btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ba323f;
  border-color: #ba323f;
}

.c-btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.c-btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .c-btn-outline-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
/*# sourceMappingURL=darkTheme.css.map */