@media (prefers-color-scheme: light) {
    $hoverColor: #b9b9b94d;

    $boxShadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
    $formShadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
    $main-grid-background: #f8f9fa;

    $success: #d1e7dd;
    $danger: #f8d7da;

    $bg-green: #35b653;
    $bg_blue: #0d6efd;

    #titlebar {
        background-color: #fff;
        color: black;
    }

    #restore-button .icon,
    #max-button .icon,
    #close-button .icon,
    #min-button .icon {
        filter: invert(1);
    }

    #windowControls .button:hover {
        background: $hoverColor;
    }
    #windowControls .button:active {
        background: $hoverColor;
    }

    main {
        background-color: #fff;
    }
    .grid-container {
        background-color: $main-grid-background;
        box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.2);
    }
    .list-group-item {
        background-color: transparent;
    }
    .canvasContainer {
        background-color: white;
        box-shadow: $boxShadow;
    }

    .grid-alert {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }

    #historyAlert {
        color: #405ba3 !important;
        box-shadow: 0px 5px -1px rgba(0, 0, 0, 0.2);
    }
    #historyAlert li:hover {
        color: rgb(19, 43, 110) !important;
    }

    .alert-danger {
        color: #842029;
        background-color: $danger !important;
        border-color: $danger !important;
    }
    .alert-success {
        color: #0f5132;
        background-color: $success !important;
        border-color: $success !important;
    }

    .c-btn {
        background-color: $main-grid-background;
        color: $bg_blue;
    }
    .c-btn:hover {
        color: $main-grid-background;
        background-color: $bg_blue;
    }

    .btn-primary {
        color: #ffffffe8;
        background-color: $bg_blue;
        border-color: $bg_blue;
    }
    .btn-success {
        background-color: $bg-green;
        border-color: $bg-green;
    }

    .btn-success:hover,
    .btn-success:active,
    .btn-success:focus {
        background-color: darken($bg-green, 10%);
        border-color: darken($bg-green, 10%);
    }
    .main-grid-container .alert,
    .main-grid-container .c-btn,
    .main-grid-container .btn,
    .main-grid-container .form-control,
    .main-grid-container .form-select {
        box-shadow: $formShadow;
    }

    #contextMenu {
        background-color: white;
        box-shadow: $boxShadow;
        border: 1px solid #dfdfdf;

        .context-menu-item {
            &:hover {
                background-color: #ebebeb;
            }
        }
    }
}
