/* Btn colors */
@media (prefers-color-scheme: dark) {
  #titlebar {
    color: #bebebe;
    background: #262626;
    border-bottom: none;
  }
}
@media (prefers-color-scheme: light) {
  #titlebar {
    background-color: #fff;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  #restore-button .icon,
  #max-button .icon,
  #min-button .icon {
    filter: none;
  }
}
@media (prefers-color-scheme: light) {
  #restore-button .icon,
  #max-button .icon,
  #close-button .icon,
  #min-button .icon {
    filter: invert(1);
  }
}
@media (prefers-color-scheme: dark) {
  #windowControls .button:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  #windowControls .button:active {
    background: rgba(255, 255, 255, 0.2);
  }
}
@media (prefers-color-scheme: light) {
  #windowControls .button:hover {
    background: rgba(185, 185, 185, 0.3019607843);
  }
  #windowControls .button:active {
    background: rgba(185, 185, 185, 0.3019607843);
  }
}
@media (prefers-color-scheme: dark) {
  main {
    background-color: #262626;
  }
}
@media (prefers-color-scheme: light) {
  main {
    background-color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  .grid-container {
    color: #bebebe;
    box-shadow: inset 1px 1px 5px -1px rgb(0, 0, 0);
    background-color: #222222;
  }
}
@media (prefers-color-scheme: light) {
  .grid-container {
    background-color: #f8f9fa;
    box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.2);
  }
}
@media (prefers-color-scheme: dark) {
  .grid-titlebar {
    background-color: white;
  }
}
@media (prefers-color-scheme: dark) {
  .left-side-button {
    color: #bebebe;
  }
  .canvasContainer {
    background-color: #2d2d2d;
    box-shadow: 0px 0px 5px -1px rgb(0, 0, 0);
  }
  .form-control {
    color: #bebebe;
    background-color: #2d2d2d;
    border-color: #222222;
  }
  .form-control:focus {
    color: #bebebe;
    background-color: #2d2d2d;
    border-color: #222222;
    box-shadow: 0 0 0 0.25rem rgba(107, 167, 255, 0.25);
  }
  .lighter-select {
    background-color: #3f3f3f !important;
  }
  .form-select {
    box-shadow: 0px 2px 5px -1px rgb(0, 0, 0);
    cursor: pointer;
    color: #bebebe;
    background-color: #2d2d2d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cccc' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    border: none;
  }
  .form-select:focus {
    color: #bebebe;
    background-color: #2d2d2d;
    border: none;
    box-shadow: 0 0 0 0.25rem rgba(107, 167, 255, 0.25);
  }
  .modal-content {
    color: #bebebe;
    background-color: #2d2d2d;
  }
  .modal-input {
    background-color: #222222;
  }
  .modal-header {
    border-bottom: 1px solid #bebebe;
    color: #bebebe;
  }
  .modal-footer {
    border-top: 1px solid #bebebe;
    color: #bebebe;
  }
  .btn-close {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    filter: invert(1);
  }
  .btn-close:hover {
    color: #fff;
    text-decoration: none;
  }
  .table {
    color: #bebebe;
  }
  .list-group-item {
    background-color: transparent;
    border: 1px solid rgba(221, 220, 220, 0.41);
    color: #bebebe;
  }
}
@media (prefers-color-scheme: light) {
  .list-group-item {
    background-color: transparent;
  }
  .canvasContainer {
    background-color: white;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
  }
}
@media (prefers-color-scheme: dark) {
  .alert-primary {
    background-color: #567cb9 !important;
    border-color: #567cb9 !important;
  }
  .alert-danger {
    background-color: #ba323f !important;
    border-color: #ba323f !important;
  }
  .alert-success {
    background-color: #198754 !important;
    border-color: #198754 !important;
  }
}
@media (prefers-color-scheme: light) {
  .alert-danger {
    color: #842029;
    background-color: #f8d7da !important;
    border-color: #f8d7da !important;
  }
  .alert-success {
    color: #0f5132;
    background-color: #d1e7dd !important;
    border-color: #d1e7dd !important;
  }
}
@media (prefers-color-scheme: dark) {
  .grid-alert {
    color: #fff !important;
  }
  #historyAlert li {
    color: #ffffff !important;
  }
  #historyAlert li:hover {
    color: #d9e3ff !important;
  }
}
@media (prefers-color-scheme: light) {
  .grid-alert {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
  #historyAlert {
    color: #405ba3 !important;
    box-shadow: 0px 5px -1px rgba(0, 0, 0, 0.2);
  }
  #historyAlert li:hover {
    color: rgb(19, 43, 110) !important;
  }
}
@media (prefers-color-scheme: dark) {
  .c-btn {
    background-color: #3f3f3f;
    color: #99bdff;
  }
  .c-btn:hover {
    color: #262626;
    background-color: #99bdff;
  }
  /* Custom bootstrap buttons*/
  .btn-primary {
    color: rgba(255, 255, 255, 0.9098039216);
    background-color: #567cb9;
    border-color: #567cb9;
  }
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus {
    background-color: #3b76cc;
    border-color: #3b76cc;
  }
  .btn-danger {
    color: rgba(255, 255, 255, 0.9098039216);
    background-color: #ba323f;
    border-color: #ba323f;
  }
  .btn-danger:hover,
  .btn-danger:active,
  .btn-danger:focus {
    background-color: #a7202c;
    border-color: #a7202c;
  }
  .main-grid-container .alert,
  .main-grid-container .c-btn,
  .main-grid-container .btn,
  .main-grid-container .form-control,
  .main-grid-container .form-select {
    box-shadow: 0px 2px 5px -1px rgb(0, 0, 0);
  }
  #contextMenu {
    background-color: #424242;
    box-shadow: 0px 0px 5px -1px rgb(0, 0, 0);
  }
  #contextMenu .context-menu-item {
    color: #bebebe;
  }
  #contextMenu .context-menu-item:hover {
    background-color: #585858;
  }
}
@media (prefers-color-scheme: light) {
  .c-btn {
    background-color: #f8f9fa;
    color: #0d6efd;
  }
  .c-btn:hover {
    color: #f8f9fa;
    background-color: #0d6efd;
  }
  .btn-primary {
    color: rgba(255, 255, 255, 0.9098039216);
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  .btn-success {
    background-color: #35b653;
    border-color: #35b653;
  }
  .btn-success:hover,
  .btn-success:active,
  .btn-success:focus {
    background-color: #298f41;
    border-color: #298f41;
  }
  .main-grid-container .alert,
  .main-grid-container .c-btn,
  .main-grid-container .btn,
  .main-grid-container .form-control,
  .main-grid-container .form-select {
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
  }
  #contextMenu {
    background-color: white;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
    border: 1px solid #dfdfdf;
  }
  #contextMenu .context-menu-item:hover {
    background-color: #ebebeb;
  }
}
@media (prefers-color-scheme: dark) {
  .form-control ~ label {
    background-color: transparent;
    color: #bebebe !important;
  }
  .form-control ~ label::after {
    background-color: transparent !important;
  }
}
@media (prefers-color-scheme: dark) {
  table tr td,
  th {
    background-color: transparent !important;
    color: #bebebe !important;
  }
  #symbolCountHelp {
    color: #bebebe !important;
  }
  #history-search-input::-moz-placeholder {
    color: #919191;
  }
  #history-search-input::placeholder {
    color: #919191;
  }
}/*# sourceMappingURL=mainTheme.css.map */