body {
  overflow: hidden;
}

.contact-table {
  text-align: center;
}

/* main {
  background-color: #f5f8fb;
} */

.grid-item {
  text-align: center;
  font-size: 1.1em;
}
.main-grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 60px 2fr;
}
.grid-left-side {
  display: grid;
  padding: 10px 0px 30px 0px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-template-rows: 3em 3em 1fr 3em;
  /* box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
  background-color: white; */
}
.left-side-button {
  transition-duration: 0.3s;
  padding: 0px 0px 0px 6px;
  height: 40px;
}
/* .left-side-button:hover {
  background-color: #b9b9b94d;
} */
.settingsButton {
  grid-column-start: 1;
  grid-row-start: 1;
}
.historyButton {
  grid-column-start: 1;
  grid-row-start: 2;
}
.contactButton {
  grid-column-start: 1;
  grid-row-start: 4;
}

.grid-container {
  padding: 10px 5px 30px 0;
  grid-column-start: 2;
  grid-row-start: 1;
  padding-left: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3em 3em 1fr 2em 3em;
}
.grid-bar-types {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
}
.grid-fav {
  display: grid;
  grid-column-gap: 5px;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-template-columns: 1.1fr 0.2fr;
}
.fav-del-btn {
  display: grid;
}
.grid-text-block {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 3;
}
.grid-draw-block {
  height: 100%;
  padding: 0 0 0 10px;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.centeredChild {
  height: 240px;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center;
  margin: 2px;
}
#qrTextForm {
  min-height: 150px;
  max-height: 150px;
}

.leftFooter {
  display: grid;
  padding-bottom: 10px;
  grid-column-gap: 5px;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-template-columns: 1.1fr 0.2fr;
}
.left-footer-gen-btn {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
}
.left-footer-save-btn {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
}

.rightFooter {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 5;
}

.grid-alert {
  width: 50%;
  text-align: center;
  min-width: 400px;
  margin: -25px auto;
  height: 50px;
  grid-area: 4 / 1 / 4 / 3;
  z-index: 100;
}

#symbolCount {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 4;
  font-size: 0.7em;
  text-align: left;
}
#removeSavedQrBtn,
#saveQrTextButton,
#settingsButton {
  height: 2.3em;
}

#saveFolderPath {
  font-size: x-small;
}

#qrOutput {
  display: inline-block;
  vertical-align: middle;
}

/*-------------------- Settings page styles ---------------------------*/
.settingsValue {
  text-align: right;
}

/* .color1 {background-color: #675BA7; opacity: 0.5;}
.color2 {background-color: #9BC850; opacity: 0.5;}
.color3 {background-color: #A62E5C; opacity: 0.5;}
.color4 {background-color: #2A9FBC; opacity: 0.5;} */
